@import "bootstrap/scss/bootstrap";

body{
    background: #c8b057;
    background: linear-gradient(to right,#c2a641,#bbc98d);
}
.bg{
    background-image: url(../img/rvr.jpg);
    background-position: center center;
}